body{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scoreDisplay{
    font-size: 25px;
    font-family: "DejaVu Sans";
}

canvas{
    border-radius: 15px;
    box-shadow: 20px 20px 30px #a9a9a9;
}